* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden; /* Prevent horizontal overflow */
  width: 100%;
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  
}
.container {
  border: 5rem solid;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500rem;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  background: linear-gradient(to bottom, #03045e, #023e8a);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: normal;
  flex-wrap: wrap;
}

.nav-title {
    display: flex;
    align-items: flex-start;
    font-size: 3rem;
    color: white;
    margin-right: 37rem;
}

.nav-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-link-items {
  border-radius: 2vh;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 1rem;
  transition: all 0.3s ease;
}

.nav-link-items:hover {
  color: black;
  background-color: white;
}

.main-container {
  height: calc(40rem - 60px);
  background: linear-gradient(to bottom, #023e8a, #0077b6);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.main-description {
    height: 100%;
    width: 50%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 1;
    font-style: normal;
}
.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.main-image {
    border-radius: 1.5rem;
    max-width: 70%;
    height: auto;
    object-fit: contain;
    transform: rotate(-13deg);
}
.main-image-profile {
    border-radius: 2rem;
    height: 25rem;
    width: 100%;
  }

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 1rem;
  border-width: 0 0 0.1rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin-top: 2rem;
  outline: none;
  overflow: visible;
  padding: 13px 16px;

  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 12rem;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #0baaf4;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

button {
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.about-container {
  width: 100%;
  height: calc(60rem - 60px);
  background: linear-gradient(to bottom, #0077b6, #0096c7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.about-allimage {
    max-width: 20rem;
    height: auto;
  }


#image1 {
  border-radius: 1rem;
  overflow: hidden;
  display: block;
  transform: rotate(-5deg);
}

#image2 {
  border-radius: 1rem;
  overflow: hidden;
  display: block;
  transform: rotate(10deg);
}
#image3 {
  border-radius: 1rem;
  overflow: hidden;
  display: block;
  transform: rotate(-12deg);
}
.about-description {
  display: flex;
  width: 50%;
  height: 100%; /* Change to auto to allow for flexible height */
  color: white;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: normal;
  padding: 5rem;
}
.profile-image {
  border-radius: 70%;
  height: 7rem;
  width: 7rem;
}


.project-cointainer {

    height: calc(60rem - 1rem);
    background: linear-gradient(to bottom, #0096c7, #00b4d8);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.project-r1-c1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    padding: 2rem;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    word-spacing: 0.3rem;
}
.project-r1-c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 1rem;
}
.project-r2-c1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 1rem;
}
.project-r2-c2 {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  padding: 1rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 250  ;
  font-style: normal;
  word-spacing: 0.3rem;
}

.robobloom {
    border-radius: 2rem;
    height: 18rem;
    width:70%;
    transform: rotate(14deg);
}
.anita {
  border-radius: 2rem;
  height: 27rem;
  width: 60%;
  object-fit: contain;
  transform: rotate(-8deg);
}


@media (max-width: 1024px) {
    body {
        width: 100%;
      }
      .nav-container {
        width: 100%;
        height: 5.5rem;
        overflow: hidden; /* Prevent overflow within the nav-container */
      }
      .nav-title {
        margin-right: 25rem;
        font-size: 1.4rem;
      }
      .nav-link-items {
        font-size: 0.8rem;
      }
      .main-container {
        flex-direction: column;
        height: 20rem;
      }
      .main-description {
        width: 50%;
        height: 100%;
        padding: 1rem;
        font-size: 1rem;
      }
      .main-image-container {
        width: 50%;
        height: 100%;
      }
      .main-image {
        border-radius: 1.5rem;
        max-width: 50%;
        height: auto;
        max-height: 30rem;
        object-fit: contain;
        transform: rotate(-10deg);
      }
      .main-image-profile {
        height: 15rem;
        width: 100%;
      }
      .button-19 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.3rem;
        width: 5rem;
        font-size: 0.6rem;
      }
    
      .about-container {
        height: calc(45rem - 1rem);
        max-width: 100%; /* Ensure the about container doesn't exceed the viewport width */
      }

      .about-allimage {
        max-width: 15rem;
        height: auto;
      }

      .profile-image {
        margin-top: 2.5rem;
        max-width: 30%;
        height: auto;
      }
      .about-description {
        width: 50%;
        height: 100%;
        padding: 1.2rem;
        font-size: 1rem;
      }
    
      .about-image {
        padding: 5rem;
        height: 100%;
        width: 50%;
      }
      .project-cointainer {
        font-size: 0.8rem;
        font-weight: 1;
      }
}


@media (max-width: 768px) {
    body {
        width: 100%;
      }
      .nav-container {
        width: 100%;
        height: 4rem;
        overflow: hidden; /* Prevent overflow within the nav-container */
      }
      .nav-title {
        margin-right: 12rem;
        font-size: 1.2rem;
      }
      .nav-link-items {
        font-size: 0.5rem;
      }
      .main-container {
        flex-direction: column;
        height: 20rem;
      }
      .main-description {
        width: 50%;
        height: 100%;
        padding: 1rem;
        font-size: 0.7rem;
      }
      .main-image-container {
        width: 50%;
        height: 100%;
      }
      .main-image {
        border-radius: 1.5rem;
        max-width: 50%;
        height: auto;
        max-height: 30rem;
        object-fit: contain;
        transform: rotate(-10deg);
      }
      .main-image-profile {
        height: 12rem;
        width: 100%;
      }
      .button-19 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.3rem;
        width: 5rem;
        font-size: 0.6rem;
      }
    
      .about-container {
        height: calc(35rem - 1rem);
        max-width: 100%; /* Ensure the about container doesn't exceed the viewport width */
      }
      .about-allimage {
        max-width: 10rem;
        height: auto;
      }

      .profile-image {
        margin-top: 5rem;
        max-width: 35%;
        height: auto;
      }
      .about-description {
        width: 50%;
        height: 100%;
        padding: 1rem;
        font-size: 0.6rem;
      }
    
      .about-image {
        padding: 5rem;
        height: 100%;
        width: 50%;
      }
      .project-cointainer {
        height: 40rem;
        font-size: 0.6rem;
      }
      .robobloom {
        height: 13rem;
      }

      .anita {

        height: 15rem;
      }
}


@media (max-width: 575.98px) {
    body {
        width: 100%;
      }
      .nav-container {
        width: 100%;
        height: 5rem;
        overflow: hidden; /* Prevent overflow within the nav-container */
      }
      .nav-title {
        margin-right: 3rem;
        font-size: 1rem;
      }
      .nav-link-items {
        font-size: 0.5rem;
      }
      .main-container {
        flex-direction: column;
        height: 20rem;
      }
      .main-description {
        width: 50%;
        height: 100%;
        padding: 1rem;
        font-size: 0.7rem;
      }
      .main-image-container {
        width: 50%;
        height: 100%;
      }
      .main-image {
        border-radius: 1.5rem;
        max-width: 70%;
        height: auto;
        max-height: 30rem;
        object-fit: contain;
        transform: rotate(-10deg);
      }
      .main-image-profile {
        height: 12rem;
        width: 100%;
      }
      .button-19 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.3rem;
        width: 5rem;
        font-size: 0.6rem;
      }
    
      .about-container {
        height: calc(30rem - 1rem);
        max-width: 100%; /* Ensure the about container doesn't exceed the viewport width */
      }
      .about-allimage {
        max-width: 9rem;
        height: auto;
      }

      .profile-image {
        max-width: 40%;
        height: auto;
      }
      .about-description {
        width: 50%;
        height: 100%;
        font-size: 0.45rem;
      }
    
      .about-image {
        padding: 5rem;
        height: 100%;
        width: 50%;
      }

      .project-cointainer {
        height: 30rem;  
        font-size: 0.4rem;
        font-weight: 1;
      }
      .robobloom {
        height: 5rem;
      }

      .anita {

        height: 10rem;
      }
  }
  